<ion-header>

  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-img style="height: 20px; height: 30px;" src="assets/icon/Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGrp" novalidate>
  <br>  
    <div class="ion-text-center ion-padding">
      <ion-label class="titulo">Cambiar Contraseña</ion-label>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="mdl_email" type="email" formControlName="emailidctrl"></ion-input>
    </ion-item>

    <div class="show-error">
      <div *ngIf="formGrp.get('emailidctrl').hasError('required') && formGrp.get('emailidctrl').dirty">Ingresa un Email valido
      </div>
      <div *ngIf="formGrp.get('emailidctrl').hasError('email') && formGrp.get('emailidctrl').dirty">Ingresa un Email valido</div>
    </div>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="mdl_user" formControlName="userctrl"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="mdl_pass" formControlName="passwordcrl"></ion-input>
    </ion-item>
    <br>
    <div class="ion-text-center ion-padding">
      <ion-button [disabled]="!formGrp.valid" (click)="cambiarPassword()" expand="block" class="degradado">Cambiar Contraseña</ion-button>
    </div>
  </form>
</ion-content>