<ion-header id="menu">

  <ion-toolbar>


    <ion-button slot="start" fill="outline-solid">
      <ion-menu-button autoHide="false">

      </ion-menu-button>
    </ion-button>


  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">


    <ion-slides [options]="slideOpts" id="slides_principal">
      <ion-slide>
        <ion-img src="assets/icon/Palacio.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/icon/Palacio.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/icon/Palacio.jpg"></ion-img>
      </ion-slide>
      <br>
    </ion-slides>

    <div id="boton_abrir_qr">
      <ion-button expand="block" (click)="leerQR()"> Leer QR </ion-button>
    </div>

    <div id="boton_cerrar_qr" hidden>
      <ion-button expand="block" (click)="cerrarQR()"> Cerrar QR </ion-button>
    </div>
  </ion-content>






<ion-footer>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="3" offset="1">
        <ion-button fill="outline-solid">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3" offset="1">
        <ion-button fill="outline-solid">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3" offset="1">
        <ion-button fill="outline-solid">
          <ion-icon name="cog-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>
